@import "tailwindcss";

@layer base {
  html {
    font-family: var(--font-sans);
    box-sizing: border-box;
  }
}

@theme {
  /* Breakpoints (for responsive design) */

  /* Colors (custom primary, success, error, etc. using variables) */
  --color-background: #f6f7f9;

  --color-primary-100: #d6e4fd;
  --color-primary-200: #aec8fc;
  --color-primary-300: #85a8f8;
  --color-primary-400: #658df1;
  --color-primary: #3563e9;
  --color-primary-600: #264bc8;
  --color-primary-700: #1a37a7;
  --color-primary-800: #102587;
  --color-primary-900: #0a196f;

  --color-success-100: #f5fcd2;
  --color-success-200: #e8faa6;
  --color-success-300: #d3f178;
  --color-success-400: #bce455;
  --color-success: #9cd323;
  --color-success-600: #7fb519;
  --color-success-700: #659711;
  --color-success-800: #4c7a0b;
  --color-success-900: #3b6506;

  --color-error-100: #ffe7d3;
  --color-error-200: #ffc8a6;
  --color-error-300: #ffa37a;
  --color-error-400: #ff7f59;
  --color-error: #ff4423;
  --color-error-600: #db2719;
  --color-error-700: #b71112;
  --color-error-800: #930b16;
  --color-error-900: #7a0619;

  --color-warning-100: #fff8d7;
  --color-warning-200: #ffefb0;
  --color-warning-300: #ffe488;
  --color-warning-400: #ffd96b;
  --color-warning: #ffc73a;
  --color-warning-600: #dba32a;
  --color-warning-700: #b7821d;
  --color-warning-800: #936312;
  --color-warning-900: #7a4d0b;

  --color-information-100: #dcf3ff;
  --color-information-200: #bae5ff;
  --color-information-300: #98d3ff;
  --color-information-400: #7ec2ff;
  --color-information: #54a6ff;
  --color-information-600: #3d81db;
  --color-information-700: #2a60b7;
  --color-information-800: #1a4393;
  --color-information-900: #102e7a;

  --color-secondary-100: #e0e9f4;
  --color-secondary-200: #c3d4e9;
  --color-secondary-300: #90a3bf;
  --color-secondary-400: #596780;
  --color-secondary: #1a202c;
  --color-secondary-600: #131825;
  --color-secondary-700: #0d121f;
  --color-secondary-800: #080c19;
  --color-secondary-900: #040815;

  /* Font family */
  --font-sans: "Plus Jakarta Sans", sans-serif;
}
